@CHARSET "UTF-8";
/**
 *	Feuille de style de informations sur l'application.
 *
 * @li Feuille de style principale
 * @see main.css
 *
 * @author		durandcedric@avitheque.net
 * @update		$LastChangedBy: durandcedric $
 * @version		$LastChangedRevision: 120 $
 * @since		$LastChangedDate: 2018-05-07 21:15:40 +0200 (Mon, 07 May 2018) $
 */

/** INFOS APPLICATION ****************************************************************************/

div#application									{
	position:									absolute;
	height:										44px;
	width:										auto;
	float:										left;
	z-index:									50;
}

div#application:hover							{
	width:										100%;
}

div#application img#favicon						{
	height:										43px;
}

div#application ul#app_infos					{
	position:									absolute;
	display:									none;
	list-style:									none;
	width:										0;
}

div#application a#app_logo:hover + ul#app_infos	{
	display:									contents;
	width:										100%;
}

div#application li#app_name						{
	vertical-align:								top;
	line-height:								15px;
	font-size:									20px;
	color:										#220979;
	margin:										5px;
}

div#application li#app_version,
div#application li#library_version				{
	vertical-align:								top;
	line-height:								10px;
	font-size:									10px;
	color:										#197435;
	margin:										5px;
}

div#application li#library_version				{
	position:									absolute;
	right:										0;
	color:										#220979;
}

div#application:active li#app_name				{
	color:										#0082ff;
}
