@CHARSET "UTF-8";
/**
 *	Feuille de style du debuggage de l'application.
 *
 * @li Feuille de style principale
 * @see main.css
 *
 * @author		durandcedric@avitheque.net
 * @update		$LastChangedBy: durandcedric $
 * @version		$LastChangedRevision: 2 $
 * @since		$LastChangedDate: 2017-02-27 18:41:31 +0100 (lun., 27 févr. 2017) $
 */

#article-debug					{
	position:					fixed;
	border-radius:				0 0 10px;
	background:					#555;
	top:						44px;
	left:						0;
	width:						100%;
	padding-top:				31px;
	z-index:					100;
}

#article-debug span.icon		{
	float:						right;
	background:					#222;
	color:						#0C0;
	border-color:				#000;
	height:						30px;
	line-height:				26px;
	width:						14px;
	margin:						0;
	padding:					0;
	font-size:					22px;
	opacity:					0.5;
	cursor:						pointer;

}

#article-debug span.icon:hover	{
	opacity:					1;
}

#article-debug span.icon.open	{
	position:					absolute;
	top:						0;
	border-radius:				0 5px 5px 0;
	left:						0;
	z-index:					1;
}

#article-debug #ul-debug		{
	position:					absolute;
	overflow-y:					auto;
	border-radius:				0 0 10px;
	background:					#555;
	width:						95%;
	margin:						0px 2.5%;
	max-height:					445px;
	text-align:					justify;
	color:						#FFF;
	z-index:					10;
}

#article-debug span.icon.close	{
	position:					relative;
	top:						-31px;
	border-radius:				5px 0 0 5px;
	left:						0;
	z-index:					10;
}

#article-debug.closed #ul-debug {
	color:						transparent;
	overflow:					auto;
}

#ul-debug li					{
	margin-bottom:				10px;
}

var#var-debug					{
	position:					absolute;
	left:						3px;
	bottom:						36px;
}
