@CHARSET "UTF-8";
/**
 *	Feuille de style du debuggage de l'application.
 *
 * @li Feuille de style principale
 * @see main.css
 *
 * @author		durandcedric@avitheque.net
 * @update		$LastChangedBy: durandcedric $
 * @version		$LastChangedRevision: 147 $
 * @since		$LastChangedDate: 2018-08-15 13:13:17 +0200 (Wed, 15 Aug 2018) $
 */

#article-debug					{
	position:					fixed;
	background:					#555;
	top:						44px;
	left:						0;
	height:						30px;
	width:						100%;
	margin:						0;
	padding:					20px 0 0 0;
	border-radius:				0;
	z-index:					100;
}

#article-debug span.icon		{
	float:						right;
	background:					#222;
	color:						#0C0;
	border-color:				#000;
	height:						30px;
	line-height:				26px;
	width:						14px;
	margin:						0;
	padding:					0 2px;
	font-size:					22px;
	opacity:					0.5;
	cursor:						pointer;
}

#article-debug span.icon:hover	{
	opacity:					1;
}

#article-debug span.icon.open	{
	position:					absolute;
	top:						0;
	border-radius:				0 5px 5px 0;
	left:						0;
	z-index:					1;
}

#article-debug #ul-debug		{
	overflow-y:					auto;
	background:					#555;
	width:						95%;
	max-height:					445px;
	text-align:					justify;
	color:						#FFF;
	z-index:					10;
}

#article-debug span.icon.close	{
	position:					relative;
	bottom:						30px;
	border-radius:				5px 0 0 5px;
	left:						0;
	z-index:					10;
}

#article-debug.closed #ul-debug {
	color:						transparent;
	overflow:					auto;
}

var#var-debug					{
	position:					absolute;
	left:						3px;
	bottom:						36px;
}
