@CHARSET "UTF-8";
/**
 *	Feuille de style de pagination des articles de l'application.
 *
 * @li Feuille de style principale
 * @see main.css
 *
 * @author		durandcedric@avitheque.net
 * @update		$LastChangedBy: durandcedric $
 * @version		$LastChangedRevision: 89 $
 * @since		$LastChangedDate: 2017-12-27 00:05:27 +0100 (Wed, 27 Dec 2017) $
 */

.absolute					{ position:			absolute; }
.relative					{ position:			relative; }

/* BORDURES **************************************************************************************/

.border-solid				{ border:			1px solid; }
.border-top-solid			{ border-top:		1px solid; }
.border-left-solid			{ border-left:		1px solid; }
.border-right-solid			{ border-right:		1px solid; }
.border-bottom-solid		{ border-bottom:	1px solid; }


/* POSITION **************************************************************************************/

.left-20					{ left:				20px; }
.left-22					{ left:				22px; }

.right-20					{ right:			20px; }
.right-22					{ right:			22px; }


/* MARGIN ****************************************************************************************/

/* margin 0 */
.margin-0					{ margin:			0; }
.margin-0-important			{ margin:			0 !important; }
.margin-top-0				{ margin-top:		0 !important; }
.margin-left-0				{ margin-left:		0 !important; }
.margin-right-0				{ margin-right:		0 !important; }
.margin-bottom-0			{ margin-bottom:	0 !important; }
.margin-H-0					{ margin-left:		0 !important;	margin-right:		0 !important; }
.margin-V-0					{ margin-top:		0 !important;	margin-bottom:		0 !important; }

/* margin 1px */
.margin-1					{ margin:			1px; }
.margin-top-1				{ margin-top:		1px; }
.margin-top-1-important		{ margin:			1px 0 0 0 !important; }
.margin-left-1				{ margin-left:		1px; }
.margin-left-1-important	{ margin:			0 0 0 1px !important; }
.margin-right-1				{ margin-right:		1px; }
.margin-right-1-important	{ margin:			0 1px 0 0 !important; }
.margin-bottom-1			{ margin-bottom:	1px; }
.margin-bottom-1-important	{ margin:			0 0 1px 0 !important; }
.margin-H-1					{ margin-left:		1px;			margin-right:		1px; }
.margin-V-1					{ margin-top:		1px;			margin-bottom:		1px; }

/* margin 2px */
.margin-2					{ margin:			2px; }
.margin-top-2				{ margin-top:		2px; }
.margin-top-2-important		{ margin:			2px 0 0 0 !important; }
.margin-left-2				{ margin-left:		2px; }
.margin-left-2-important	{ margin:			0 0 0 2px !important; }
.margin-right-2				{ margin-right:		2px; }
.margin-right-2-important	{ margin:			0 2px 0 0 !important; }
.margin-bottom-2			{ margin-bottom:	2px; }
.margin-bottom-2-important	{ margin:			0 0 2px 0 !important; }
.margin-H-2					{ margin-left:		2px;			margin-right:		2px; }
.margin-V-2					{ margin-top:		2px;			margin-bottom:		2px; }

/* margin 3px */
.margin-3					{ margin:			3px; }
.margin-top-3				{ margin-top:		3px; }
.margin-top-3-important		{ margin:			3px 0 0 0 !important; }
.margin-left-3				{ margin-left:		3px; }
.margin-left-3-important	{ margin:			0 0 0 3px !important; }
.margin-right-3				{ margin-right:		3px; }
.margin-right-3-important	{ margin:			0 3px 0 0 !important; }
.margin-bottom-3			{ margin-bottom:	3px; }
.margin-bottom-3-important	{ margin:			0 0 3px 0 !important; }
.margin-H-3					{ margin-left:		3px;			margin-right:		3px; }
.margin-V-3					{ margin-top:		3px;			margin-bottom:		3px; }

/* margin 4px */
.margin-4					{ margin:			4px; }
.margin-top-4				{ margin-top:		4px; }
.margin-top-4-important		{ margin:			4px 0 0 0 !important; }
.margin-left-4				{ margin-left:		4px; }
.margin-left-4-important	{ margin:			0 0 0 4px !important; }
.margin-right-4				{ margin-right:		4px; }
.margin-right-4-important	{ margin:			0 4px 0 0 !important; }
.margin-bottom-4			{ margin-bottom:	4px; }
.margin-bottom-4-important	{ margin:			0 0 4px 0 !important; }
.margin-H-4					{ margin-left:		4px;			margin-right:		4px; }
.margin-V-4					{ margin-top:		4px;			margin-bottom:		4px; }

/* margin 5px */
.margin-5					{ margin:			5px; }
.margin-top-5				{ margin-top:		5px; }
.margin-top-5-important		{ margin:			5px 0 0 0 !important; }
.margin-left-5				{ margin-left:		5px; }
.margin-left-5-important	{ margin:			0 0 0 5px !important; }
.margin-right-5				{ margin-right:		5px; }
.margin-right-5-important	{ margin:			0 5px 0 0 !important; }
.margin-bottom-5			{ margin-bottom:	5px; }
.margin-bottom-5-important	{ margin:			0 0 5px 0 !important; }
.margin-H-5					{ margin-left:		5px;			margin-right:		5px; }
.margin-V-5					{ margin-top:		5px;			margin-bottom:		5px; }

/* margin 6px */
.margin-6					{ margin:			6px; }
.margin-top-6				{ margin-top:		6px; }
.margin-top-6-important		{ margin:			6px 0 0 0 !important; }
.margin-left-6				{ margin-left:		6px; }
.margin-left-6-important	{ margin:			0 0 0 6px !important; }
.margin-right-6				{ margin-right:		6px; }
.margin-right-6-important	{ margin:			0 6px 0 0 !important; }
.margin-bottom-6			{ margin-bottom:	6px; }
.margin-bottom-6-important	{ margin:			0 0 6px 0 !important; }
.margin-H-6					{ margin-left:		6px;			margin-right:		6px; }
.margin-V-6					{ margin-top:		6px;			margin-bottom:		6px; }

/* margin 7px */
.margin-7					{ margin:			7px; }
.margin-top-7				{ margin-top:		7px; }
.margin-top-7-important		{ margin:			7px 0 0 0 !important; }
.margin-left-7				{ margin-left:		7px; }
.margin-left-7-important	{ margin:			0 0 0 7px !important; }
.margin-right-7				{ margin-right:		7px; }
.margin-right-7-important	{ margin:			0 7px 0 0 !important; }
.margin-bottom-7			{ margin-bottom:	7px; }
.margin-bottom-7-important	{ margin:			0 0 7px 0 !important; }
.margin-H-7					{ margin-left:		7px;			margin-right:		7px; }
.margin-V-7					{ margin-top:		7px;			margin-bottom:		7px; }

/* margin 8px */
.margin-8					{ margin:			8px; }
.margin-top-8				{ margin-top:		8px; }
.margin-top-8-important		{ margin:			8px 0 0 0 !important; }
.margin-left-8				{ margin-left:		8px; }
.margin-left-8-important	{ margin:			0 0 0 8px !important; }
.margin-right-8				{ margin-right:		8px; }
.margin-right-8-important	{ margin:			0 8px 0 0 !important; }
.margin-bottom-8			{ margin-bottom:	8px; }
.margin-bottom-8-important	{ margin:			0 0 8px 0 !important; }
.margin-H-8					{ margin-left:		8px;			margin-right:		8px; }
.margin-V-8					{ margin-top:		8px;			margin-bottom:		8px; }

/* margin 9px */
.margin-9					{ margin:			9px; }
.margin-top-9				{ margin-top:		9px; }
.margin-top-9-important		{ margin:			9px 0 0 0 !important; }
.margin-left-9				{ margin-left:		9px; }
.margin-left-9-important	{ margin:			0 0 0 9px !important; }
.margin-right-9				{ margin-right:		9px; }
.margin-right-9-important	{ margin:			0 9px 0 0 !important; }
.margin-bottom-9			{ margin-bottom:	9px; }
.margin-bottom-9-important	{ margin:			0 0 9px 0 !important; }
.margin-H-9					{ margin-left:		9px;			margin-right:		9px; }
.margin-V-9					{ margin-top:		9px;			margin-bottom:		9px; }

/* margin 10px */
.margin-10					{ margin:			10px; }
.margin-top-10				{ margin-top:		10px; }
.margin-top-10-important	{ margin:			10px 0 0 0 !important; }
.margin-left-10				{ margin-left:		10px; }
.margin-left-10-important	{ margin:			0 0 0 10px !important; }
.margin-right-10			{ margin-right:		10px; }
.margin-right-10-important	{ margin:			0 10px 0 0 !important; }
.margin-bottom-10			{ margin-bottom:	10px; }
.margin-bottom-10-important	{ margin:			0 0 10px 0 !important; }
.margin-H-10				{ margin-left:		10px;			margin-right:		10px; }
.margin-V-10				{ margin-top:		10px;			margin-bottom:		10px; }

/* margin 15px */
.margin-15					{ margin:			15px; }
.margin-top-15				{ margin-top:		15px; }
.margin-top-15-important	{ margin:			15px 0 0 0 !important; }
.margin-left-15				{ margin-left:		15px; }
.margin-left-15-important	{ margin:			0 0 0 15px !important; }
.margin-right-15			{ margin-right:		15px; }
.margin-right-15-important	{ margin:			0 15px 0 0 !important; }
.margin-bottom-15			{ margin-bottom:	15px; }
.margin-bottom-15-important	{ margin:			0 0 15px 0 !important; }
.margin-H-15				{ margin-left:		15px;			margin-right:		15px; }
.margin-V-15				{ margin-top:		15px;			margin-bottom:		15px; }

/* margin 20px */
.margin-20					{ margin:			20px; }
.margin-top-20				{ margin-top:		20px; }
.margin-top-20-important	{ margin:			20px 0 0 0 !important; }
.margin-left-20				{ margin-left:		20px; }
.margin-left-20-important	{ margin:			0 0 0 20px !important; }
.margin-right-20			{ margin-right:		20px; }
.margin-right-20-important	{ margin:			0 20px 0 0 !important; }
.margin-bottom-20			{ margin-bottom:	20px; }
.margin-bottom-20-important	{ margin:			0 0 20px 0 !important; }
.margin-H-20				{ margin-left:		20px;			margin-right:		20px; }
.margin-V-20				{ margin-top:		20px;			margin-bottom:		20px; }

/* margin 25px */
.margin-25					{ margin:			25px; }
.margin-top-25				{ margin-top:		25px; }
.margin-top-25-important	{ margin:			25px 0 0 0 !important; }
.margin-left-25				{ margin-left:		25px; }
.margin-left-25-important	{ margin:			0 0 0 25px !important; }
.margin-right-25			{ margin-right:		25px; }
.margin-right-25-important	{ margin:			0 25px 0 0 !important; }
.margin-bottom-25			{ margin-bottom:	25px; }
.margin-bottom-25-important	{ margin:			0 0 25px 0 !important; }
.margin-H-25				{ margin-left:		25px;			margin-right:		25px; }
.margin-V-25				{ margin-top:		25px;			margin-bottom:		25px; }

/* margin 30px */
.margin-30					{ margin:			30px; }
.margin-top-30				{ margin-top:		30px; }
.margin-top-30-important	{ margin:			30px 0 0 0 !important; }
.margin-left-30				{ margin-left:		30px; }
.margin-left-30-important	{ margin:			0 0 0 30px !important; }
.margin-right-30			{ margin-right:		30px; }
.margin-right-30-important	{ margin:			0 30px 0 0 !important; }
.margin-bottom-30			{ margin-bottom:	30px; }
.margin-bottom-30-important	{ margin:			0 0 30px 0 !important; }
.margin-H-30				{ margin-left:		30px;			margin-right:		30px; }
.margin-V-30				{ margin-top:		30px;			margin-bottom:		30px; }

/* margin 50px */
.margin-50					{ margin:			50px; }
.margin-top-50				{ margin-top:		50px; }
.margin-top-50-important	{ margin:			50px 0 0 0 !important; }
.margin-left-50				{ margin-left:		50px; }
.margin-left-50-important	{ margin:			0 0 0 50px !important; }
.margin-right-50			{ margin-right:		50px; }
.margin-right-50-important	{ margin:			0 50px 0 0 !important; }
.margin-bottom-50			{ margin-bottom:	50px; }
.margin-bottom-50-important	{ margin:			0 0 50px 0 !important; }
.margin-H-50				{ margin-left:		50px;			margin-right:		50px; }
.margin-V-50				{ margin-top:		50px;			margin-bottom:		50px; }

/* margin auto */
.margin-auto				{ margin:			auto; }
.margin-auto-H				{ margin:			0 auto; }
.margin-auto-V				{ margin:			auto 0; }

/* margin 3% */
.margin-3p					{ margin:			3%; }
.margin-top-3p				{ margin-top:		3%; }
.margin-left-3p				{ margin-left:		3%; }
.margin-right-3p			{ margin-right:		3%; }
.margin-bottom-3p			{ margin-bottom:	3%; }
.margin-H-3p				{ margin-left:		3%;				margin-right:		3%; }
.margin-V-3p				{ margin-top:		3%;				margin-bottom:		3%; }

/* margin 4% */
.margin-4p					{ margin:			4%; }
.margin-top-4p				{ margin-top:		4%; }
.margin-left-4p				{ margin-left:		4%; }
.margin-right-4p			{ margin-right:		4%; }
.margin-bottom-4p			{ margin-bottom:	4%; }
.margin-H-4p				{ margin-left:		4%;				margin-right:		4%; }
.margin-V-4p				{ margin-top:		4%;				margin-bottom:		4%; }

/* margin 5% */
.margin-5p					{ margin:			5%; }
.margin-top-5p				{ margin-top:		5%; }
.margin-left-5p				{ margin-left:		5%; }
.margin-right-5p			{ margin-right:		5%; }
.margin-bottom-5p			{ margin-bottom:	5%; }
.margin-H-5p				{ margin-left:		5%;				margin-right:		5%; }
.margin-V-5p				{ margin-top:		5%;				margin-bottom:		5%; }

/* margin 10% */
.margin-10p					{ margin:			10%; }
.margin-top-10p				{ margin-top:		10%; }
.margin-left-10p			{ margin-left:		10%; }
.margin-right-10p			{ margin-right:		10%; }
.margin-bottom-10p			{ margin-bottom:	10%; }
.margin-H-10p				{ margin-left:		10%;			margin-right:		10%; }
.margin-V-10p				{ margin-top:		10%;			margin-bottom:		10%; }

/* margin 20% */
.margin-20p					{ margin:			20%; }
.margin-top-20p				{ margin-top:		20%; }
.margin-left-20p			{ margin-left:		20%; }
.margin-right-20p			{ margin-right:		20%; }
.margin-bottom-20p			{ margin-bottom:	20%; }
.margin-H-20p				{ margin-left:		20%;			margin-right:		20%; }
.margin-V-20p				{ margin-top:		20%;			margin-bottom:		20%; }


/* PADDING ***************************************************************************************/

/* padding 0 */
.padding-0					{ padding:			0 !important; }
.padding-top-0				{ padding-top:		0 !important; }
.padding-left-0				{ padding-left:		0 !important; }
.padding-right-0			{ padding-right:	0 !important; }
.padding-bottom-0			{ padding-top:		0 !important; }
.padding-H-0				{ padding-left:		0 !important;	padding-right:		0 !important; }
.padding-V-0				{ padding-top:		0 !important;	padding-bottom:		0 !important; }

/* padding 5px */
.padding-5					{ padding:			5px; }
.padding-top-5				{ padding-top:		5px; }
.padding-left-5				{ padding-left:		5px; }
.padding-right-5			{ padding-right:	5px; }
.padding-bottom-5			{ padding-top:		5px; }
.padding-H-5				{ padding-left:		5px;			padding-right:		5px; }
.padding-V-5				{ padding-top:		5px;			padding-bottom:		5px; }

/* padding 10px */
.padding-10					{ padding:			10px; }
.padding-top-10				{ padding-top:		10px; }
.padding-left-10			{ padding-left:		10px; }
.padding-right-10			{ padding-right:	10px; }
.padding-bottom-10			{ padding-bottom:	10px; }
.padding-H-10				{ padding-left:		10px; 			padding-right:		10px; }
.padding-V-10				{ padding-top:		10px;			padding-bottom:		10px; }

/* padding 15px */
.padding-15					{ padding:			15px; }
.padding-top-15				{ padding-top:		15px; }
.padding-left-15			{ padding-left:		15px; }
.padding-right-15			{ padding-right:	15px; }
.padding-bottom-15			{ padding-bottom:	15px; }
.padding-H-15				{ padding-left:		15px;			padding-right:		15px; }
.padding-V-15				{ padding-top:		15px;			padding-bottom:		15px; }

/* padding 20px */
.padding-20					{ padding:			20px; }
.padding-top-20				{ padding-top:		20px; }
.padding-left-20			{ padding-left:		20px; }
.padding-right-20			{ padding-right:	20px; }
.padding-bottom-20			{ padding-bottom:	20px; }
.padding-H-20				{ padding-left:		20px;			padding-right:		20px; }
.padding-V-20				{ padding-top:		20px;			padding-bottom:		20px; }

/* padding 25px */
.padding-25					{ padding:			25px; }
.padding-top-25				{ padding-top:		25px; }
.padding-left-25			{ padding-left:		25px; }
.padding-right-25			{ padding-right:	25px; }
.padding-bottom-25			{ padding-bottom:	25px; }
.padding-H-25				{ padding-left:		25px;			padding-right:		25px; }
.padding-V-25				{ padding-top:		25px;			padding-bottom:		25px; }

/* padding 30px */
.padding-30					{ padding:			30px; }
.padding-top-30				{ padding-top:		30px; }
.padding-left-30			{ padding-left:		30px; }
.padding-right-30			{ padding-right:	30px; }
.padding-bottom-30			{ padding-bottom:	30px; }
.padding-H-30				{ padding-left:		30px;			padding-right:		30px; }
.padding-V-30				{ padding-top:		30px;			padding-bottom:		30px; }

/* padding 50px */
.padding-50					{ padding:			50px; }
.padding-top-50				{ padding-top:		50px; }
.padding-left-50			{ padding-left:		50px; }
.padding-right-50			{ padding-right:	50px; }
.padding-bottom-50			{ padding-bottom:	50px; }
.padding-H-50				{ padding-left:		50px;			padding-right:		50px; }
.padding-V-50				{ padding-top:		50px;			padding-bottom:		50px; }

/* padding auto */
.padding-auto				{ padding:			auto; }
.padding-auto-H				{ padding:			0 auto; }
.padding-auto-V				{ padding:			auto 0; }

/* padding 2% */
.padding-2p					{ padding:			2%; }
.padding-top-2p				{ padding-top:		2%; }
.padding-left-2p			{ padding-left:		2%; }
.padding-right-2p			{ padding-right:	2%; }
.padding-bottom-2p			{ padding-bottom:	2%; }
.padding-H-2p				{ padding-left:		2%;				padding-right:		2%; }
.padding-V-2p				{ padding-top:		2%;				padding-bottom:		2%; }

/* padding 3% */
.padding-3p					{ padding:			3%; }
.padding-top-3p				{ padding-top:		3%; }
.padding-left-3p			{ padding-left:		3%; }
.padding-right-3p			{ padding-right:	3%; }
.padding-bottom-3p			{ padding-bottom:	3%; }
.padding-H-3p				{ padding-left:		3%;				padding-right:		3%; }
.padding-V-3p				{ padding-top:		3%;				padding-bottom:		3%; }

/* padding 5% */
.padding-5p					{ padding:			5%; }
.padding-top-5p				{ padding-top:		5%; }
.padding-left-5p			{ padding-left:		5%; }
.padding-right-5p			{ padding-right:	5%; }
.padding-bottom-5p			{ padding-bottom:	5%; }
.padding-H-5p				{ padding-left:		5%;				padding-right:		5%; }
.padding-V-5p				{ padding-top:		5%;				padding-bottom:		5%; }

/* padding 10% */
.padding-10p				{ padding:			10%; }
.padding-top-10p			{ padding-top:		10%; }
.padding-left-10p			{ padding-left:		10%; }
.padding-right-10p			{ padding-right:	10%; }
.padding-bottom-10p			{ padding-bottom:	10%; }
.padding-H-10p				{ padding-left:		10%;			padding-right:		10%; }
.padding-V-10p				{ padding-top:		10%;			padding-bottom:		10%; }

/* padding 20% */
.padding-20p				{ padding:			20%; }
.padding-top-20p			{ padding-top:		20%; }
.padding-left-20p			{ padding-left:		20%; }
.padding-right-20p			{ padding-right:	20%; }
.padding-bottom-20p			{ padding-bottom:	20%; }
.padding-H-20p				{ padding-left:		20%;			padding-right:		20%; }
.padding-V-20p				{ padding-top:		20%;			padding-bottom:		20%; }


/* WIDTH *****************************************************************************************/

.width-50					{ width:			50px; }
.width-55					{ width:			55px; }
.width-60					{ width:			60px; }
.width-100					{ width:			100px; }
.width-150					{ width:			150px; }
.width-200					{ width:			200px; }
.width-225					{ width:			225px; }
.width-250					{ width:			250px; }
.width-300					{ width:			300px; }
.width-350					{ width:			350px; }
.width-400					{ width:			400px; }
.width-450					{ width:			450px; }
.width-500					{ width:			500px; }

.width-0p					{ width:			0%; }
.width-0-5p					{ width:			0.5%; }
.width-1p					{ width:			1%; }
.width-1-5p					{ width:			1.5%; }
.width-2p					{ width:			2%; }
.width-2-5p					{ width:			2.5%; }
.width-3p					{ width:			3%; }
.width-3-5p					{ width:			3.5%; }
.width-4p					{ width:			4%; }
.width-4-5p					{ width:			4.5%; }
.width-5p					{ width:			5%; }
.width-5-5p					{ width:			5.5%; }
.width-6p					{ width:			6%; }
.width-6-5p					{ width:			6.5%; }
.width-7p					{ width:			7%; }
.width-7-5p					{ width:			7.5%; }
.width-8p					{ width:			8%; }
.width-8-5p					{ width:			8.5%; }
.width-9p					{ width:			9%; }
.width-9-5p					{ width:			9.5%; }
.width-10p					{ width:			10%; }
.width-10-5p				{ width:			10.5%; }
.width-11p					{ width:			11%; }
.width-11-5p				{ width:			11.5%; }
.width-12p					{ width:			12%; }
.width-12-5p				{ width:			12.5%; }
.width-13p					{ width:			13%; }
.width-13-5p				{ width:			13.5%; }
.width-14p					{ width:			14%; }
.width-14-5p				{ width:			14.5%; }
.width-15p					{ width:			15%; }
.width-15-5p				{ width:			15.5%; }
.width-16p					{ width:			16%; }
.width-16-5p				{ width:			16.5%; }
.width-17p					{ width:			17%; }
.width-17-5p				{ width:			17.5%; }
.width-18p					{ width:			18%; }
.width-18-5p				{ width:			18.5%; }
.width-19p					{ width:			19%; }
.width-19-5p				{ width:			19.5%; }
.width-20p					{ width:			20%; }
.width-20-5p				{ width:			20.5%; }
.width-21p					{ width:			21%; }
.width-21-5p				{ width:			21.5%; }
.width-22p					{ width:			22%; }
.width-22-5p				{ width:			22.5%; }
.width-23p					{ width:			23%; }
.width-23-5p				{ width:			23.5%; }
.width-24p					{ width:			24%; }
.width-24-5p				{ width:			24.5%; }
.width-25p					{ width:			25%; }
.width-25-5p				{ width:			25.5%; }
.width-26p					{ width:			26%; }
.width-26-5p				{ width:			26.5%; }
.width-27p					{ width:			27%; }
.width-27-5p				{ width:			27.5%; }
.width-28p					{ width:			28%; }
.width-28-5p				{ width:			28.5%; }
.width-29p					{ width:			29%; }
.width-29-5p				{ width:			29.5%; }
.width-30p					{ width:			30%; }
.width-30-5p				{ width:			30.5%; }
.width-31p					{ width:			31%; }
.width-31-5p				{ width:			31.5%; }
.width-32p					{ width:			32%; }
.width-32-5p				{ width:			32.5%; }
.width-33p					{ width:			33%; }
.width-33-5p				{ width:			33.5%; }
.width-34p					{ width:			34%; }
.width-34-5p				{ width:			34.5%; }
.width-35p					{ width:			35%; }
.width-35-5p				{ width:			35.5%; }
.width-36p					{ width:			36%; }
.width-36-5p				{ width:			36.5%; }
.width-37p					{ width:			37%; }
.width-37-5p				{ width:			37.5%; }
.width-38p					{ width:			38%; }
.width-38-5p				{ width:			38.5%; }
.width-39p					{ width:			39%; }
.width-39-5p				{ width:			39.5%; }
.width-40p					{ width:			40%; }
.width-40-5p				{ width:			40.5%; }
.width-41p					{ width:			41%; }
.width-41-5p				{ width:			41.5%; }
.width-42p					{ width:			42%; }
.width-42-5p				{ width:			42.5%; }
.width-43p					{ width:			43%; }
.width-43-5p				{ width:			43.5%; }
.width-44p					{ width:			44%; }
.width-44-5p				{ width:			44.5%; }
.width-45p					{ width:			45%; }
.width-45-5p				{ width:			45.5%; }
.width-46p					{ width:			46%; }
.width-46-5p				{ width:			46.5%; }
.width-47p					{ width:			47%; }
.width-47-5p				{ width:			47.5%; }
.width-48p					{ width:			48%; }
.width-48-5p				{ width:			48.5%; }
.width-49p					{ width:			49%; }
.width-49-5p				{ width:			49.5%; }
.width-50p					{ width:			50%; }
.width-50-5p				{ width:			50.5%; }
.width-51p					{ width:			51%; }
.width-51-5p				{ width:			51.5%; }
.width-52p					{ width:			52%; }
.width-52-5p				{ width:			52.5%; }
.width-53p					{ width:			53%; }
.width-53-5p				{ width:			53.5%; }
.width-54p					{ width:			54%; }
.width-54-5p				{ width:			54.5%; }
.width-55p					{ width:			55%; }
.width-55-5p				{ width:			55.5%; }
.width-56p					{ width:			56%; }
.width-56-5p				{ width:			56.5%; }
.width-57p					{ width:			57%; }
.width-57-5p				{ width:			57.5%; }
.width-58p					{ width:			58%; }
.width-58-5p				{ width:			58.5%; }
.width-59p					{ width:			59%; }
.width-59-5p				{ width:			59.5%; }
.width-60p					{ width:			60%; }
.width-60-5p				{ width:			60.5%; }
.width-61p					{ width:			61%; }
.width-61-5p				{ width:			61.5%; }
.width-62p					{ width:			62%; }
.width-62-5p				{ width:			62.5%; }
.width-63p					{ width:			63%; }
.width-63-5p				{ width:			63.5%; }
.width-64p					{ width:			64%; }
.width-64-5p				{ width:			64.5%; }
.width-65p					{ width:			65%; }
.width-65-5p				{ width:			65.5%; }
.width-66p					{ width:			66%; }
.width-66-5p				{ width:			66.5%; }
.width-67p					{ width:			67%; }
.width-67-5p				{ width:			67.5%; }
.width-68p					{ width:			68%; }
.width-68-5p				{ width:			68.5%; }
.width-69p					{ width:			69%; }
.width-69-5p				{ width:			69.5%; }
.width-70p					{ width:			70%; }
.width-70-5p				{ width:			70.5%; }
.width-71p					{ width:			71%; }
.width-71-5p				{ width:			71.5%; }
.width-72p					{ width:			72%; }
.width-72-5p				{ width:			72.5%; }
.width-73p					{ width:			73%; }
.width-73-5p				{ width:			73.5%; }
.width-74p					{ width:			74%; }
.width-74-5p				{ width:			74.5%; }
.width-75p					{ width:			75%; }
.width-75-5p				{ width:			75.5%; }
.width-76p					{ width:			76%; }
.width-76-5p				{ width:			76.5%; }
.width-77p					{ width:			77%; }
.width-77-5p				{ width:			77.5%; }
.width-78p					{ width:			78%; }
.width-78-5p				{ width:			78.5%; }
.width-79p					{ width:			79%; }
.width-79-5p				{ width:			79.5%; }
.width-80p					{ width:			80%; }
.width-80-5p				{ width:			80.5%; }
.width-81p					{ width:			81%; }
.width-81-5p				{ width:			81.5%; }
.width-82p					{ width:			82%; }
.width-82-5p				{ width:			82.5%; }
.width-83p					{ width:			83%; }
.width-83-5p				{ width:			83.5%; }
.width-84p					{ width:			84%; }
.width-84-5p				{ width:			84.5%; }
.width-85p					{ width:			85%; }
.width-85-5p				{ width:			85.5%; }
.width-86p					{ width:			86%; }
.width-86-5p				{ width:			86.5%; }
.width-87p					{ width:			87%; }
.width-87-5p				{ width:			87.5%; }
.width-88p					{ width:			88%; }
.width-88-5p				{ width:			88.5%; }
.width-89p					{ width:			89%; }
.width-89-5p				{ width:			89.5%; }
.width-90p					{ width:			90%; }
.width-90-5p				{ width:			90.5%; }
.width-91p					{ width:			91%; }
.width-91-5p				{ width:			91.5%; }
.width-92p					{ width:			92%; }
.width-92-5p				{ width:			92.5%; }
.width-93p					{ width:			93%; }
.width-93-5p				{ width:			93.5%; }
.width-94p					{ width:			94%; }
.width-94-5p				{ width:			94.5%; }
.width-95p					{ width:			95%; }
.width-95-5p				{ width:			95.5%; }
.width-96p					{ width:			96%; }
.width-96-5p				{ width:			96.5%; }
.width-97p					{ width:			97%; }
.width-97-5p				{ width:			97.5%; }
.width-98p					{ width:			98%; }
.width-98-5p				{ width:			98.5%; }
.width-99p					{ width:			99%; }
.width-99-5p				{ width:			99.5%; }
.width-100p					{ width:			100%; }

.width-50-min				{ min-width:		50px; }
.width-55-min				{ min-width:		55px; }
.width-60-min				{ min-width:		60px; }
.width-100-min				{ min-width:		100px; }
.width-150-min				{ min-width:		150px; }
.width-200-min				{ min-width:		200px; }
.width-250-min				{ min-width:		250px; }
.width-300-min				{ min-width:		300px; }
.width-350-min				{ min-width:		350px; }
.width-400-min				{ min-width:		400px; }
.width-450-min				{ min-width:		450px; }
.width-500-min				{ min-width:		500px; }

.auto-width					{ width:			auto !important; }
.half-width					{ width:			50%; }
.max-width					{ width:			100%; }


/* HEIGHT ****************************************************************************************/

.height-40					{ height:			40px; }
.height-50					{ height:			50px; }
.height-500					{ height:			500px; }

.height-5p					{ height:			5%; }
.height-10p					{ height:			10%; }
.height-15p					{ height:			15%; }
.height-20p					{ height:			20%; }
.height-25p					{ height:			25%; }
.height-30p					{ height:			30%; }
.height-35p					{ height:			35%; }
.height-40p					{ height:			40%; }
.height-45p					{ height:			45%; }
.height-50p					{ height:			50%; }
.height-55p					{ height:			55%; }
.height-60p					{ height:			60%; }
.height-65p					{ height:			65%; }
.height-70p					{ height:			70%; }
.height-75p					{ height:			75%; }
.height-80p					{ height:			80%; }
.height-85p					{ height:			85%; }
.height-90p					{ height:			90%; }
.height-95p					{ height:			95%; }

.auto-height				{ height:			auto !important; }
.half-height				{ height:			50%; }
.max-height					{ height:			100%; }


/** CONSTRUCTION FORMULAIRE MODAL ****************************************************************/

.modal-25					{
	position:				relative;
	top:					30%;
	height:					25%;
}
